#main {
    width: 500px;
    margin-left: 30%;
}
.fField {
    /* margin-left: 10px; */
    margin-top: 10px;
    height: 100px;
    width: 500px;
    padding: 10px;
    border: 1px solid black;
}
body {
    background-color: lightgrey;
}
.checkBtn {
    background-color: aquamarine;
    border: 0.5px solid lightblue;
}

* {
    font-family: 'Courier New', Courier, monospace;
}